#navPageSec {
  margin-left: 29%;
}
#q3 {
  margin-left: 175px;
}
#y1 {
  margin-top: 5%;
}
#y1 span {
  font-size: 3.4em;
}
#addedSec {
  height: 575px;
  width: 100%;
  margin-top: 0px;
  background-color: black;
}
#y3 {
  width: 38%;
}

#y3 p {
  font-size: 1.5em;
  width: 85%;
}
#myFrame {
  width: 500px;
  height: 281px;
}
#sec4 {
  height: 800px;
}
#a1, #a4 {
  margin-left: 5%;
}
#a2, #a5 {
  margin-left: 37%;
}
#a3, #a6 {
  margin-left: 68%;
}
#a4 , #a5 , #a6 {
  margin-top: 34%;
}
#sec6 {
  height: 260px;
  width: 100%;
  margin-top: 700px;
  background-color: rgb(34, 178, 253);
}
#titleSec6 {
  width: 64%;
  height: 112px;
  margin-left: 1%;
  margin-top: -46px;
}
#innerSec6 {
  height: 71%;
  width: 25%;
  margin-top: -16.7%;
  margin-left: 52%;
}
#inp {
  width: 215px;
}
#btnSec6 {
  margin-top: -10.5%;
  margin-left: 80%;
  height: 17%;
  width: 12%;
  font-size: 2.2em;
}
#btnSec6 p {
  margin-top: 3%;
  margin-left: 5%;
}
#what1 {
  margin-top: 2%;
}
#what1 span {
  font-size: 4em;
}
#titleSec7 {
  width: 40%;
  height: 12%;
  margin-left: 10.6%;
  margin-top: -50px;
}
#titleInfo2 {
  width: 50%;
  height: 50%;
  margin-top: 5%;
  margin-left: 5%;
  position: absolute;
}
#userSignUpInfo {
  width: 29%;
  margin-right: 11%;
  margin-top: -91px;
  }
#lstTitle1 { 
  margin-left: 20%;
}
#lstTitle2 { 
  margin-left: 36%;
}
#lstTitle3 p { 
  font-size: 1.5em;
}
#sec9 {
  background-color: white;
  height: 618px;
  width: 100%;
}
#titleSec9 {
  margin-top: -4%;
  }
#titleSec9 p {
  font-size: 3.6em;
  }
#areaSec9a {
  width: 20%;
  height: 62%;
  margin-top: 2%;
  margin-left: 15%;
}
#areaSec9b {
  width: 20%;
  height: 62%;
  margin-top: -37.5%;
  margin-left: 40%;
}
#areaSec9c {
  width: 20%;
  height: 62%;
  margin-top: -37.5%;
  margin-left: 65%;
}
#btnLast {
  margin-top: 2%;
  }
#triangle {
  margin-top: 12%;
  margin-left: 7.3%;
  }
#userCom1 {
  width: 202px;
  height: 122px;
  margin-left: 0%;
  font-size: 1.3em;
}
#userPic1 {
  margin-top: 16.5%;
  margin-left: 0.5%;
}
#userRealName1 {
  margin-top: 35%;
  margin-left: .8%;
  }
#userCom2 {
  width: 202px;
  height: 122px;
  margin-left: 0%;
  font-size: 1.3em;
}
#userPic2 {
  margin-top: 16.5%;
  margin-left: 0.5%;
}
#userRealName2 {
  margin-top: 35%;
  margin-left: .8%;
  }
#userCom3 {
  width: 202px;
  height: 122px;
  margin-left: 0%;
  font-size: 1.3em;
}
#userPic3 {
  margin-top: 16.5%;
  margin-left: 0.5%;
}
#userRealName3 {
  margin-top: 35%;
  margin-left: .8%;
  }
#main {
  height: 3208px;
}
#btnLast p {
  line-height: 60px;
}
#btnLast {
  margin-top: 3%;
  font-size: 2em;
}
#bottomInfo p {
  margin-left: 12px;
}
#bottomInfo {
  font-size: .9em;
}
#bottomInfo2 {
  margin-top: 10px;
}