#y3 {
  width: 37%;
}

#y3 p {
  font-size: 1.5em;
}

#sec4 {
  height: 800px;
}
#sec6 {
  height: 260px;
  width: 100%;
  margin-top: 700px;
  background-color: rgb(34, 178, 253);
}
#innerSec6 {
  height: 69%;
  width: 43%;
  margin-top: -10.5%;
  margin-left: 47%;
}
#inp {
  width: 215px;
}
#btnSec6 {
  margin-top: -11.5%;
}
#what1 {
  margin-top: 2%;
}
#what1 span {
  font-size: 4em;
}
#userSignUpInfo {
  width: 32%;
  }

#sec9 {
  background-color: white;
  height: 770px;
  width: 100%;
}
#titleSec9 {
  margin-top: -4%;
  }
#areaSec9a {
  width: 20%;
  height: 62%;
  margin-top: 2%;
  margin-left: 15%;
}
#areaSec9b {
  width: 20%;
  height: 62%;
  margin-top: -37.5%;
  margin-left: 40%;
}
#areaSec9c {
  width: 20%;
  height: 62%;
  margin-top: -37.5%;
  margin-left: 65%;
}
#btnLast {
  margin-top: 2%;
  }
#triangle {
  margin-top: 13%;
  margin-left: 8.3%;
  }
#userCom1 {
  margin-left: 1%;
}
#userPic1 {
  margin-top: 16.5%;
  margin-left: 2.9%;
}
#userRealName1 {
  margin-top: 32%;
  margin-left: 1.5%;
  }
#userCom2 {
  margin-left: 1%;
}
#userPic2 {
  margin-top: 16.5%;
  margin-left: 2.9%;
}
#userRealName2 {
  margin-top: 32%;
  margin-left: 1.5%;
  }
#userCom3 {
  margin-left: 1%;
}
#userPic3 {
  margin-top: 16.5%;
  margin-left: 2.9%;
}
#userRealName3 {
  margin-top: 32%;
  margin-left: 1.5%;
  }
#main {
  height: 3465px;
}
#btnLast p {
  line-height: 70px;
}
#btnLast {
  margin-top: 2%;
  font-size: 2.3em;
}
#bottomInfo p {
  margin-left: 30px;
}
#bottomInfo {
  font-size: 1.15em;
}
#bottomInfo2 {
  margin-top: 7px;
}