#sec4 {
  height: 800px;
}
#sec6 {
  height: 260px;
  width: 100%;
  margin-top: 700px;
  background-color: rgb(34, 178, 253);
}
#innerSec6 {
  height: 69%;
  width: 43%;
  margin-top: -10.5%;
  margin-left: 46%;
}
#inp {
  width: 230px;
}
#btnSec6 {
  margin-top: -10.87%;
}
#what1 {
  margin-top: 2%;
}
#what1 span {
  font-size: 4em;
}

#sec9 {
  background-color: white;
  height: 748px;
  width: 100%;
}
#areaSec9a {
  width: 20%;
  height: 62%;
  margin-top: 2%;
  margin-left: 15%;
}
#areaSec9b {
  width: 20%;
  height: 62%;
  margin-top: -33.5%;
  margin-left: 40%;
}
#areaSec9c {
  width: 20%;
  height: 62%;
  margin-top: -33.5%;
  margin-left: 65%;
}
#btnLast {
  margin-top: 2%;
  }
#triangle {
  margin-top: 13%;
  margin-left: 8.3%;
  }
#userCom1 {
  margin-left: 1%;
}
#userPic1 {
  margin-top: 16.5%;
  margin-left: 3.6%;
}
#userRealName1 {
  margin-top: 30%;
  margin-left: 1.6%;
  }
#userCom2 {
  margin-left: 1%;
}
#userPic2 {
  margin-top: 16.5%;
  margin-left: 3.6%;
}
#userRealName2 {
  margin-top: 30%;
  margin-left: 1.6%;
  }
#userCom3 {
  margin-left: 1%;
}
#userPic3 {
  margin-top: 16.5%;
  margin-left: 3.6%;
}
#userRealName3 {
  margin-top: 30%;
  margin-left: 1.6%;
  }
#main {
  height: 3470px;
}
#btnLast p {
  line-height: 77px;
}
#btnLast {
  margin-top: 2%;
}
#bottomInfo p {
  margin-left: 13px;
}