#sec2 {
  height: 75px; 
  width: 33%; 
  margin-top: 50px;
  margin-left: 33%;
  line-height: 75px;    
  font-size: 2.5em;
}

#sec3 {
  height: 250px; 
  width: 80%; 
  margin-top: 75px;
  margin-left: 10%;
  font-size: 2.2em;
}
#sec3 p {
  line-height: 52px;
  padding-top: 70px;
  height: 100px;
  width: 100%;   
}