/*#company {
  height: 100%;
  width: 14%;
  margin-top: 5px;
  margin-left: 2%;
}

#company p {
  line-height: 4.5px; 
  font-size: 1.6em;
  margin-left: 15%;
  font-weight: 900;
}

#LS {
  height: 100%;
  width: 14%;
  margin-right: 2%;
} 

#LS-1 {
  height: 80%;
  width: 8%;
  margin-top: 4px;
  margin-right: 1%;
  font-weight: 900;
  border-radius: 5%;
} 

#LS-1 p {
  line-height: 0px; 
  font-size: 1.5em;
  margin-top: 15px;
} 


#LS-2 {
  height: 80%;
  width: 8%;
  margin-top: 4px;
  margin-right: 1%;
  font-weight: 900;
  border-radius: 5%;
} 

#LS-2 p {
  line-height: 0px; 
  font-size: 1.5em;
  margin-top: 15px;
} */


/*#sec2 {
  height: 75px; 
  width: 33%; 
  margin-top: 50px;
  margin-left: 33%;
  line-height: 75px;    
  font-size: 2.5em;
}
*/
/*#sec3 {
  height: 250px; 
  width: 80%; 
  margin-top: 75px;
  margin-left: 10%;
  font-size: 2em;
}*/
/*#sec3 p {
  line-height: 52px;
  padding-top: 70px;
  height: 100px;
  width: 100%;   
}*/

/*#sec4 {
  height: 700px; 
  width: 100%; 
  margin-top: 0px;
}*/

/*#innerSec1a {
  height: 40px;
  width: 18%;   
  font-size: 1.5em;
  margin-left: 10%;
}

#innerSec1a p {
  line-height: 40px;
  height: 40px;
  font-size: 1.5em;
}

#innerSec2a {
  height: 100px;
  width: 18%;
  line-height: 25px;
  margin-left: 10%;
}

#innerSec2a p {
  font-size: 1.3em;

}
*/
















#sec8 {
  
}



#lstBenefits {
  width: 40%;
  height: 40%;
  margin-left: 30%;
  margin-top: 0px;
}


#lstTitle {
  }

#lstTitle p {
  
}


footer {
  
}