#sec4 {
  height: 1000px;
}
#sec6 {
  height: 260px;
  width: 100%;
  margin-top: 898px;
  background-color: rgb(34, 178, 253);
}
#innerSec6 {
  height: 79%;
  width: 49%;
  margin-top: -8.5%;
  margin-left: 50%;
}
#btnSec6 {
  margin-top: -10.5%;
}
#what1 {
  margin-top: 0%;
}
#what1 span {
  font-size: 5em;
}

#sec9 {
  background-color: white;
  height: 876px;
  width: 100%;
}
#areaSec9a {
  width: 20%;
  height: 62%;
  margin-top: 2%;
  margin-left: 15%;
}
#areaSec9b {
  width: 20%;
  height: 62%;
  margin-top: -32.3%;
  margin-left: 40%;
}
#areaSec9c {
  width: 20%;
  height: 62%;
  margin-top: -32.3%;
  margin-left: 65%;
}
#btnLast {
  margin-top: 3%;
  }
#triangle {
  margin-top: 11%;
  margin-left: 8.3%;
  }
#userCom1 {
  margin-left: 2.4%;
}
#userPic1 {
  margin-top: 14.5%;
  margin-left: 4.0%;
}
#userRealName1 {
  margin-top: 27%;
  margin-left: 1%;
  }
#userCom2 {
  margin-left: 2.4%;
}
#userPic2 {
  margin-top: 14.5%;
  margin-left: 4.0%;
}
#userRealName2 {
  margin-top: 27%;
  margin-left: 1%;
  }
#userCom3 {
  margin-left: 2.4%;
}
#userPic3 {
  margin-top: 14.5%;
  margin-left: 4.0%;
}
#userRealName3 {
  margin-top: 27%;
  margin-left: 1%;
  }
#main {
  height: 3769px;
}
#btnLast p {
  line-height: 87px;
}
#btnLast {
  margin-top: 2%;
}
#bottomInfo p {
  margin-left: 135px;
}