#sec4 {
  height: 1000px;
}
#sec6 {
  height: 260px;
  width: 100%;
  margin-top: 898px;
  background-color: rgb(34, 178, 253);
}
#innerSec6 {
  height: 89%;
  width: 49%;
  margin-top: -7.5%;
  margin-left: 50%;
}
#btnSec6 {
  margin-top: -10.5%;
}
#what1 {
  margin-top: 0%;
}
#what1 span {
  font-size: 5em;
}

#sec9 {
  background-color: white;
  height: 1000px;
  width: 100%;
}
#areaSec9a {
  width: 20%;
  height: 62%;
  margin-top: 2%;
  margin-left: 15%;
}
#areaSec9b {
  width: 20%;
  height: 62%;
  margin-top: -32.3%;
  margin-left: 40%;
}
#areaSec9c {
  width: 20%;
  height: 62%;
  margin-top: -32.3%;
  margin-left: 65%;
}
#btnLast {
  margin-top: 3%;
  }
#triangle {
  margin-top: 10%;
  margin-left: 6.3%;
  }
#userPic1 {
  margin-top: 13.5%;
  margin-left: 2.6%;
}
#userRealName1 {
  margin-top: 26%;
  margin-left: -1.2%;
  }
#userPic2 {
  margin-top: 13.5%;
  margin-left: 2.6%;
}
#userRealName2 {
  margin-top: 26%;
  margin-left: -1.2%;
  }
#userPic3 {
  margin-top: 13.5%;
  margin-left: 2.6%;
}
#userRealName3 {
  margin-top: 26%;
  margin-left: -1.2%;
  }
#main {
  height: 3892px;
}
#btnLast p {
  line-height: 100px;
}
#bottomInfo p {
  margin-left: 230px;
}