#navPageSec {
  margin-left: 28%;
  height: 8%;
  width: 23%;
}
#navPageSec p {
  font-size: 22px;
}
#q3 {
  margin-left: 140px;
}
#smIcons {
  margin-left: 59.5%;
}
#LS-1 {
  height: 60%;
  width: 8%;
  margin-top: 12px;
  margin-right: 3%;
}
#LS-1 p {
  line-height: 0px;
  font-size: 1.3em;
  margin-top: 19px;
}
#LS-2 {
  height: 60%;
  width: 8%;
  margin-top: 12px;
  margin-right: 1%; 
}
#LS-2 p {
  line-height: 0px;
  font-size: 1.3em;
  margin-top: 19px;
}
#y1 {
  margin-top: 3%;
  width: 82.5%;
  margin-left: 8.5%;
}
#y1 span {
  font-size: 3em;
}
#y2 {
  width: 50%;
  height: 32%;
  float: left;
  margin-top: 42px;
  margin-left: 16.5%;
}
#addedSec {
  height: 850px;
  width: 100%;
  margin-top: 0px;
  background-color: black;
}
#y3 {
  width: 75%;
  height: 34%;
  margin-top: 30px;
  margin-right: 8%;
}

#y3 p {
  font-size: 1.5em;
  width: 85%;
}
#myFrame {
  width: 500px;
  height: 281px;
}
#sec4 {
  height: 1190px;
}
#how1 {
  width: 82.5%;
  margin-left: 8.5%;
}
#how1 span{
  font-size: 3.5em;
}
#a1 {
  margin-top: 2%;
}
#a1, #a4 {
  margin-left: 5%;
}
#a2, #a5 {
  margin-left: 50%;
}
#a2 {
  margin-top: 3%;
}
#a3 {
  margin-left: 3%;
  margin-top: 87%;
}
 #a6 {
  margin-left: 50%;
  margin-top: 87%;
}
#a4 , #a5 {
  margin-top: 44%;
}

#sec6 {
  height: 292px;
  width: 100%;
  margin-top: 1190px;
  background-color: rgb(34, 178, 253);
}
#titleSec6 {
  width: 64%;
  height: 112px;
  margin-left: 1%;
  margin-top: -46px;
}
#titleSec6 p {
  width: 144%;
  }
#innerSec6 {
  height: 41%;
  width: 72%;
  margin-top: -7.7%;
  margin-left: 17%;
}
#inp {
  width: 215px;
}
#btnSec6 {
  margin-top: 0%;
  margin-left: 39%;
  height: 17%;
  width: 16%;
  font-size: 2.2em;
}
#btnSec6 p {
  margin-top: 3%;
  margin-left: 5%;
}
#what1 {
  margin-top: 2%;
}
#what1 span {
  font-size: 4em;
}
#titleSec7 {
  width: 54%;
  height: 12%;
  margin-left: 1.6%;
  margin-top: -23px;
}
#titleSec7 p {
  line-height: 57px;
  font-size: 3.5em;
  }
#titleInfo2 {
  width: 50%;
  height: 41%;
  margin-top: 3%;
  margin-left: 3%;
  position: absolute;
}
#titleInfo2 p {
  font-size: 2em;
  line-height: 33px;
  }
#userSignUpInfo {
  width: 29%;
  margin-right: 13%;
  margin-top: -91px;
  }
#userSignUpInfo p {
  margin-top: 4%;
}
input {
  margin-top: 32px;
  margin-left: 0px;
  width: 275px;
  height: 35px;
  font-size: 24px;
}
#cb {
  margin-left: -127px;
  height: 30px;
}
#userSignUpInfo a {
  margin-left: -108px;
  margin-top: 35px;
  font-size: 1.5em;
}
#creatAcc {
  margin-top: 20px;
  margin-left: 0px;
  width: 275px;
  height: 60px;
  font-size: 2em;
}
#lstTitle1 { 
  margin-left: 8%;
}
#lstTitle2 { 
  margin-left: 30%;
}
#lstTitle3 {
  width: 32%;
  height: 60px;
  margin-left: 34.5%;
  margin-top: 35px;
}
#lstTitle3 p { 
  font-size: 1.9em;
}
#sec9 {
  background-color: white;
  height: 625px;
  width: 100%;
}
#titleSec9 {
  margin-top: -6%;
  }
#titleSec9 p {
  font-size: 3.6em;
  }
#areaSec9a {
  width: 27%;
  height: 62%;
  margin-top: 3%;
  margin-left: 5%;
}
#areaSec9b {
  width: 20%;
  height: 62%;
  margin-top: -52%;
  margin-left: 37%;
}
#areaSec9c {
  width: 20%;
  height: 62%;
  margin-top: -52%;
  margin-left: 69%;
}
#btnLast {
  margin-top: 6%;
  font-size: 1.5em;
  }
  #btnLast p {
  line-height: 60px;
}
#triangle {
  margin-top: 17%;
  margin-left: 10%;
  }
#userCom1 {
  width: 202px;
  height: 122px;
  margin-left: 0%;
  font-size: 1.3em;
}
#userPic1 {
  margin-top: 22.5%;
  margin-left: 1%;
}
#userRealName1 {
  margin-top: 49%;
  margin-left: 4%;
  }
#userCom2 {
  width: 202px;
  height: 122px;
  margin-left: 0%;
  font-size: 1.3em;
}
#userPic2 {
  margin-top: 22.5%;
  margin-left: 1%;
}
#userRealName2 {
  margin-top: 49%;
  margin-left: 4%;
  }
#userCom3 {
  width: 202px;
  height: 122px;
  margin-left: 0%;
  font-size: 1.3em;
}
#userPic3 {
  margin-top: 22.5%;
  margin-left: 1%;
}
#userRealName3 {
  margin-top: 49%;
  margin-left: 4%;
  }
#main {
  height: 4012px;
}
#bottomInfo p {
  margin-left: 12px;
  width: 43%;
}
#bottomInfo {
  font-size: .7em;
}
#bottomInfo2 {
  margin-top: 10px;
  font-size: 1.2em;
  margin-right: -8px;
}
#smIconsBottom {
  margin-left: 80%;
}