html {
	height:100%;
	width:100%;
}
body  {
	height:100%;
	width:100%;
	margin: 0px;
}
header {
	height: 8%;
	width: 100%;
	background-color: rgb(247,247,247);
}










 
#company {
  height: 100%;
  width: 30%;
  margin-left: 2%;
  float: left;
  color: rgb(255, 154, 4);
}

#company p { 
  font-size: 2.6em;
  margin-top: -70px;
  margin-left: 23%;
  font-weight: 900;
}

#company span { 
  font-size: 1.2em;
  margin-top: -46px;
  margin-left: 7%;
  font-weight: 500;
  color: rgb(0, 153, 255);
  position: absolute;
}

#navPageSec {
  height: 8%;
  width: 28%;
  margin-top: 0px;
  margin-left: 32%;
  position: absolute;
}
#navPageSec p {
  text-align: center;
  line-height: 56px;
  vertical-align: middle;
  font-size: 30px;
  font-weight: 900;
  padding-left: 2px;
  color: black;
  position: absolute;
}
#q1 {
    margin-top: 2px;
  margin-left: 30px;
  height: 89%;
  width: 33.3%;
}
#q3 {
    margin-top: 2px;
  margin-left: 220px;
  height: 89%;
  width: 33.3%;
}
#q1:hover {
  color: orange;
}
#q3:hover {
  color: orange;
}
#smIcons {
  height: 8%;
  width: 18%;
  margin-top: 0px;
  margin-left: 62%;
  position: absolute;
}
#facebook {
  background-image: url("../images/icon1.png");
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 0px;
  margin-left: 0px;
  height: 100%;
  width: 25%;
  float: left;
}
#twitter {
  background-image: url("../images/icon2.png");
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 0px;
  margin-left: 0px;
  height: 100%;
  width: 25%;
  float: left;
}
#google {
  background-image: url("../images/icon4.png");
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 0px;
  margin-left: 0px;
  height: 100%;
  width: 25%;
  float: left;
}
#pintrest {
  background-image: url("../images/icon3.png");
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 0px;
  margin-left: 0px;
  height: 100%;
  width: 25%;
  float: left;
}
#LS {
  height: 100%;
  width: 14%;
  margin-right: 2%;
} 

#LS-1 {
  height: 60%;
  width: 8%;
  margin-top: 12px;
  margin-right: 1%;
  font-weight: 900;
  border-radius: 5%;
  float: right;
  color:  black;
  vertical-align: middle;
  text-align: center;  
} 

#LS-1 p {
  line-height: 0px; 
  font-size: 1.7em;
  margin-top: 19px;
} 
#LS-2 {
  height: 60%;
  width: 8%;
  margin-top: 12px;
  margin-right: 1%;
  font-weight: 900;
  border-radius: 5%;
  float: right;
  color:  black;
  vertical-align: middle;
  text-align: center;
} 

#LS-2 p {
  line-height: 0px; 
  font-size: 1.7em;
  margin-top: 19px;
} 

#LS-1:hover, #LS-2:hover {
  color: rgb(255, 153, 0);
 
}

#main {
  background-color: black;
  height: 3470px;
  width: 100%;
}

#firstImage {
  max-width:100%;
  height:auto;
  position: relative;
  float: left;
}
#hiddenBoxTop {
  height: 5%; 
  width: 100%;
}


#sec2 {
/*  background-color: indigo;*/
  text-align:center;
  vertical-align:middle;  
  color: rgb(204, 0, 204);
}

#sec3 {
  background-color: black; 
  color: white;
}
#sec3 p {
  vertical-align: middle;
  text-align: center;
  color: rgb(0, 153, 0);
}



#videoPlace p {
  line-height: 95px;
  margin-top: 11%;
  margin-left: 0%;
  font-size: 5.4em;
  font-weight: 900;
  height: 31%;
  width: 99%;
  color: white;
}

#sec2 {
  height: 100px; 
  width: 50%; 
  margin-top: 50px;
  margin-left: 24%;
  line-height: 100px;    
  font-size: 5em;
}

#sec3 {
  height: 250px; 
  width: 80%; 
  margin-top: 50px;
  margin-left: 10%;
  font-size: 2em;
}

#sec3 p {
  line-height: 52px;
  padding-top: 25px;
  height: 100px;
  width: 100%;   
}


#addedSec {
  height: 680px; 
  width: 100%; 
  margin-top: 0px;
  background-color: black;
}
#y1 {
    width: 80.5%;
  height: 14%;
  margin-top: 2%;
  margin-left: 9.5%;
  border-bottom: 5px rgb(4, 165, 6) solid;
    text-align: center;
}
#y1 span {
  font-size: 4em;
  font-weight: 900;
  color: rgb(34, 178, 253);
  text-shadow: 0px 0px 65px rgb(34, 178, 253);
}
#y2 {
  width: 50%;
  height: 63%;
  float: left;
  margin-top: 42px;
  margin-left: 5%;
}
#y3 {
    width: 41%;
  height: 62%;
  float: right;
  margin-top: 42px;

}

#y3 p {
  height: 40%;
  width: 70%;
  font-size: 1.7em;
  color: white;
  margin-top: 0px;
  line-height: 35px;
}

#sec4 {
  height: 800px; 
  width: 100%; 
  margin-top: 0px;
  float: left;
  background-color: white;
  background-repeat: repeat;
}
#how1 {
    width: 80.5%;
  height: 10%;
  margin-top: 2%;
  margin-left: 9.5%;
  border-bottom: rgb(34, 178, 253) solid;
    text-align: center;
}
#how1 span {
    font-size: 4em;
  font-weight: 900;
  color: rgb(4, 165, 6);
}
#sec4 p {
  vertical-align: middle;
  text-align: center;  
}






#a1 {
  width: 300px;
  height: 300px;
  margin-left: 13%;
  margin-top: 2%;
  position: absolute;
}
#innerSec1a {
  height: 40px;
  width: 18%;
  font-size: 1.2em;
  margin-left: 34%;
  margin-top: -8%;
}

#innerSec1a p {
  line-height: 40px;
  height: 40px;
  font-size: 1.7em;
  font-weight: 600;
  color: rgb(34, 178, 253);
}

#innerSec2a {
  height: 100px;
  width: 100%;
  line-height: 28px;
  margin-left: 0%;
  margin-top: -18px;
}

#innerSec2a p {
  color: black;
  list-style-type: none;
  text-align: center;
  font-size: 1.7em;
}

#firstImg {
  height: 150px;
  width: 150px;
  margin-top: 2%;
  margin-left: 24%;
  background-image: url(../images/Healthy.jpg);
  background-position: center;
  background-size: 380px;
  background-repeat: no-repeat;
  border-radius: 50%;
}




#a2 {
  width: 300px;
  height: 300px;
  margin-left: 40%;
  margin-top: 2%;
  position: absolute;
}
#innerSec1a2 {
  height: 40px;
  width: 18%;
  font-size: 1.2em;
  margin-left: 34%;
  margin-top: -8%;
}

#innerSec1a2 p {
  line-height: 40px;
  height: 40px;
  font-size: 1.5em;
  font-weight: 600;
  color:  rgb(34, 178, 253);
}

#innerSec2a2 {
  height: 100px;
  width: 100%;
  line-height: 28px;
  margin-left: 0%;
  margin-top: -18px;
}

#innerSec2a2 p {
  font-size: 1.7em;
  color: black;
  list-style-type: none;
  text-align: center;
}

#firstImg2 {
  height: 150px;
  width: 150px;
  margin-top: 2%;
  margin-left: 24%;
  background-image: url(../images/kitchen1.jpg);
  background-position: right;
  background-size: 380px;
  background-repeat: no-repeat;
  border-radius: 50%;
}







#a3 {
  width: 300px;
  height: 300px;
  margin-left: 65%;
  margin-top: 2%;
  position: absolute;
}
#innerSec1a3 {
  height: 40px;
  width: 100%;
  font-size: 1.2em;
  margin-left: 0%;
  margin-top: -8%;
}

#innerSec1a3 p {
  line-height: 40px;
  height: 40px;
  font-size: 1.7em;
  font-weight: 600;
  color:  rgb(34, 178, 253);
}

#innerSec2a3 {
  height: 100px;
  width: 100%;
  line-height: 28px;
  margin-left: 0%;
  margin-top: -18px;
}

#innerSec2a3 p {
  font-size: 1.7em;
  color: black;
  list-style-type: none;
  text-align: center;
}

#firstImg3 {
  height: 150px;
  width: 150px;
  margin-top: 2%;
  margin-left: 24%;
  background-image: url(../images/kitchen1.jpg);
  background-position: right;
  background-size: 380px;
  background-repeat: no-repeat;
  border-radius: 50%;
}






#a4 {
  width: 300px;
  height: 300px;
  margin-left: 13%;
  margin-top: 25%;
  position: absolute;
}

#innerSec1a4 {
  height: 40px;
  width: 100%;
  font-size: 1.2em;
  margin-left: 0%;
  margin-top: -8%;
}

#innerSec1a4 p {
  line-height: 40px;
  height: 40px;
  font-size: 1.7em;
  font-weight: 600;
  color:  rgb(34, 178, 253);
}

#innerSec2a4 {
  height: 100px;
  width: 100%;
  line-height: 28px;
  margin-left: 0%;
  margin-top: -18px;
}

#innerSec2a4 p {
  font-size: 1.7em;
  color: black;
  list-style-type: none;
  text-align: center;
}

#firstImg4 {
  height: 150px;
  width: 150px;
  margin-top: 2%;
  margin-left: 24%;
  background-image: url(../images/ffdinner.jpg);
  background-position: -52px;
  background-size: 365px;
  background-repeat: no-repeat;
  border-radius: 50%;
}


#a5 {
  width: 300px;
  height: 300px;
  margin-left: 40%;
  margin-top: 25%;
  position: absolute;
}
#innerSec1a5 {
  height: 40px;
  width: 18%;
  font-size: 1.2em;
  margin-left: 34%;
  margin-top: -8%;
}

#innerSec1a5 p {
  line-height: 40px;
  height: 40px;
  font-size: 1.5em;
  font-weight: 600;
  color:  rgb(34, 178, 253);
}

#innerSec2a5 {
  height: 100px;
  width: 100%;
  line-height: 28px;
  margin-left: 0%;
  margin-top: -18px;
}

#innerSec2a5 p {
  font-size: 1.7em;
  color: black;
  list-style-type: none;
  text-align: center;
}

#firstImg5 {
  height: 150px;
  width: 150px;
  margin-top: 2%;
  margin-left: 24%;
  background-image: url(../images/kitchen1.jpg);
  background-position: right;
  background-size: 380px;
  background-repeat: no-repeat;
  border-radius: 50%;
}







#a6 {
  width: 300px;
  height: 300px;
  margin-left: 65%;
  margin-top: 25%;
  position: absolute;
}
#innerSec1a6 {
  height: 40px;
  width: 100%;
  font-size: 1.2em;
  margin-left: 0%;
  margin-top: -8%;
}

#innerSec1a6 p {
  line-height: 40px;
  height: 40px;
  font-size: 1.7em;
  font-weight: 600;
  color:  rgb(34, 178, 253);
}

#innerSec2a6 {
  height: 100px;
  width: 100%;
  line-height: 28px;
  margin-left: 0%;
  margin-top: -18px;
}

#innerSec2a6 p {
  font-size: 1.7em;
  color: black;
  list-style-type: none;
  text-align: center;
}

#firstImg6 {
  height: 150px;
  width: 150px;
  margin-top: 2%;
  margin-left: 24%;
  background-image: url(../images/kitchen1.jpg);
  background-position: right;
  background-size: 380px;
  background-repeat: no-repeat;
  border-radius: 50%;
}










#sec6 {
  height: 260px; 
  width: 100%; 
  margin-top: 700px;
  background-color: rgb(34, 178, 253);
}

#titleSec6 {
  width: 63%;
  height: 112px;
  margin-left: 1%;
  margin-top: -26px;
}

#titleSec6 p {
  line-height: 41px;
  width: 71%;
  font-size: 3em;
  font-weight: 900;
  vertical-align: middle;
  text-align: center;
  color: white;
}

#innerSec6 {
  height: 69%;
  width: 37%;
  margin-top: -10.5%;
  margin-left: 46%;
  
}
#inp {
  height: 50px;
  width: 245px;
  margin-left: 4px;
}
#btnSec6 {
  height: 22%;
  width: 12%;
  margin-top: -10.5%;
  margin-left: 84%;
  border: 2px solid white;
  font-weight: 900;
  font-size: 2.4em;
  color: white;

}
#btnSec6 p {
  margin-top: 3%;
  margin-left: 16%;
}
#btnSec6:hover {
  color: rgb(230, 138, 0);
  border-color: rgb(230, 138, 0);
}
















































#sec7 {
	background-color: black;
  height: 700px;
  width: 100%;
  margin-top: 0px;
}

#what1 {
  width: 80.5%;
  height: 14%;
  margin-top: 2%;
  margin-left: 9.5%;
  border-bottom: 5px rgb(4, 165, 6) solid;
    text-align: center;
}
#what1 span {
  font-size: 4em;
  font-weight: 900;
  color: rgb(34, 178, 253);
  text-shadow: 0px 0px 65px rgb(34, 178, 253);
} 

#titleSec7 {
    width: 40%;
  height: 12%;
  margin-left: 10.6%;
  margin-top: -10px;
}

#titleSec7 p {
  	vertical-align: middle;
  	text-align: center;
    line-height: 72px;
    font-size: 4.5em;
    color: rgb(255, 153, 0);
    text-shadow: 0px 0px 2px blue;
    font-weight: 600;
}


#titleInfo2 {
  width: 65%;
  height: 50%;
  margin-top: 5%;
  margin-left: 0%;
  position: absolute;
}

#titleInfo2 p {
  text-align: center;
  font-size: 2em;
  font-weight: 600;
  line-height: 45px;
  list-style-type: none;
  color: rgb(5, 150, 253);
}


#titleInfo2 span {
  text-align: center;
  font-size: 2.5em;
  font-weight: 500;
  line-height: 45px;
  list-style-type: none;
  color: rgb(255, 48, 0);
}

#userSignUpInfo {
  width: 35%;
  height: 100%;
  margin-top: -145px;
  float: right;
  color: white;
}

#userSignUpInfo p{
  width: 100%;
  height: 12%;
  margin-top: 4%;
}
form {
  height: 100%;
  width: 100%;
}
input {
  margin-top: 32px;
  margin-left: 0px;
  width: 350px;
  height: 35px;
  font-size: 24px;
}
#cb {
  margin-left: -150px;
  height: 30px;
}
#creatAcc {
  color: white;
  margin-top: 20px;
  margin-left: 0px;
  width: 350px;
  height: 60px;
  font-size: 2em;
  border-radius: 10px;
  font-weight: 700;
  background-color: orange;
}

#userSignUpInfo span {
  font-size: 1.8em;
  margin-top: 0px;
  position: absolute;
}

#userSignUpInfo a {
  margin-left: -138px;
  margin-top: 35px;
  position: absolute;
  font-size: 1.5em;
  text-decoration: none;
  color: white;
}









#sec8 {
  background-color: rgb(34, 178, 253);
  height: 355px; 
  width: 100%;   
}
#lstTitle1 {
   width: 45%;
  height: 92px;
  margin-left: 28%;
  margin-top: 8px;

}

#lstTitle1 p {
    vertical-align: middle;
  text-align: center;
  color: white;
  margin-top: 17px;
  margin-left: 2%;
  position: absolute;
  line-height: 60px;
  font-size: 3em;
  /* height: 100%; */
  /* width: 100%; */
  font-size: 5em;
  white-space: nowrap;
  overflow: hidden;
}

#lstTitle2 {
	
    width: 39%;
  height: 84px;
  margin-left: 41%;
  margin-top: 18px;

}

#lstTitle2 p {
  vertical-align: middle;
  text-align: center;
  color: white;
  line-height: 40px;
  font-size: 2em;
  letter-spacing: 4px;
  margin-left: -74px;
  width: 454px;
  margin-top: 0px;
  position: absolute;
}

#lstTitle3 {
  width: 20%;
  height: 60px;
  margin-left: 40.5%;
  margin-top: 35px;
  position: absolute;
  border-radius: 10px;
  border: 2px solid white;
  color: white;

}

#lstTitle3 p {
    vertical-align: middle;
  text-align: center;
  
  margin-left: 2%;
  margin-top: 0px;
  line-height: 60px;
  font-size: 2em;
  letter-spacing: 4px;
}

#lstTitle3:hover {
  color: rgb(230, 138, 0);
  border-color: rgb(230, 138, 0);

}






#sec9 {
  background-color: white;
  height: 775px; 
  width: 100%;
}

#titleSec9 {
    width: 80.5%;
  height: 10%;
  margin-top: -2%;
  margin-left: 9.5%;
  border-bottom: rgb(34, 178, 253) solid;
    text-align: center;
}
#titleSec9 p {
    font-size: 4em;
  font-weight: 900;
  color: rgb(4, 165, 6);
} 

#areaSec9a {
  width: 20%;
  height: 62%;
  margin-top: 2%;
  margin-left: 15%;
}

#areaSec9b {
  width: 20%;
  height: 62%;
  margin-top: -33.5%;
  margin-left: 40%;
}

#areaSec9c {
  width: 20%;
  height: 62%;
  margin-top: -33.5%;
  margin-left: 65%;
}





#userCom1 {
  width: 18%;
  height: 22%;
  position: absolute;
  margin-top: 1%;
  margin-left: 1%;
  background-color: rgb(217, 217, 217);
  border-radius: 10px;
  color: rgb(34, 178, 253);
  font-size: 1.8em;
  font-weight: 600;
  text-align: center;
}
#userCom1 p {
  margin-top: 20px;

}
#triangle {
  width: 0;
  height: 0;
  margin-top: 13%;
  margin-left: 8.3%;
  border-style: solid;
  border-width: 35px 25px 0 25px;
border-color: #dad9d9 transparent transparent transparent;
position: absolute;
}
#userPic1 {
  width: 13%;
  height: 23%;
  position: absolute;
  margin-top: 16.5%;
  margin-left: 3.6%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 100%;
}

#userRealName1 {
  width: 17%;
  height: 5%;
  position: absolute;
  margin-top: 30%;
  margin-left: 1.6%;
  color: black;
  font-size: 2.1em;
  font-weight: 600; 
  text-align: center;
}
#userRealName1 p {
  margin-top: 0px;
}






#userCom2 {
  width: 18%;
  height: 22%;
  position: absolute;
  margin-top: 1%;
  margin-left: 1%;
  background-color: rgb(217, 217, 217);
  border-radius: 10px;
  color: rgb(34, 178, 253);
  font-size: 1.8em;
  font-weight: 600;
  text-align: center;
}
#userCom2 p {
  margin-top: 20px;

}
#userPic2 {
  width: 13%;
  height: 23%;
  position: absolute;
  margin-top: 16.5%;
  margin-left: 3.6%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 100%;
}

#userRealName2 {
  width: 17%;
  height: 5%;
  position: absolute;
  margin-top: 30%;
  margin-left: 1.6%;
  color: black;
  font-size: 2.1em;
  font-weight: 600; 
  text-align: center;
}
#userRealName2 p {
  margin-top: 0px;
}




#userCom3 {
  width: 18%;
  height: 22%;
  position: absolute;
  margin-top: 1%;
  margin-left: 1%;
  background-color: rgb(217, 217, 217);
  border-radius: 10px;
  color: rgb(34, 178, 253);
  font-size: 1.8em;
  font-weight: 600;
  text-align: center;
}
#userCom3 p {
  margin-top: 20px;

}
#userPic3 {
  width: 13%;
  height: 23%;
  position: absolute;
  margin-top: 16.5%;
  margin-left: 3.6%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 100%;
}

#userRealName3 {
  width: 17%;
  height: 5%;
  position: absolute;
  margin-top: 30%;
  margin-left: 1.6%;
  color: black;
  font-size: 2.1em;
  font-weight: 600; 
  text-align: center;
}
#userRealName3 p {
  margin-top: 0px;
}

#btnLast {
  color: white;
  background-color: rgb(255, 154, 4);
  width: 30%;
  height: 10%;
  margin-top: 2%;
  margin-left: 35%;
  border-radius: 5px;
  font-size: 2.8em;
  font-weight: 900;
  text-align: center;
}
#btnLast p {
  margin-top: 0px;
  line-height: 77px;
}
#btnLast:hover {
  color: rgb(34, 178, 253);
}









footer {
  height: 5%;
  width: 100%;
  background-color: rgb(34, 178, 253);
}
#bottomInfo {
  height: 100%;
  width: 80%;
  font-size: 1.3em;
  margin-top: 0px;
  margin-left: 0px;
}
#bottomInfo p {
  color: white;
  margin-top: 11px;
  margin-left: 37px;
  width: 41%;
  position: absolute;
}
#bottomInfo2 {
  height: 73%;
  width: 46%;
  font-size: 1.2em;
  margin-top: 8px;
  margin-right: 11px;
  float: right;
}

#bottomInfo2 a {
 color: white;
 margin-top: 0px;
 margin-left: 0px;
}

#bottomInfo2 a:hover {
 color: black;
}
#smIconsBottom {
  height: 5%;
  width: 18%;
  margin-top: 0px;
  margin-left: 78%;
  position: absolute;
}