html {
	height:100%;
	width:100%;
}
body  {
	height:100%;
	width:100%;
	margin: 0px;
}
header {
	height: 5%;
	width: 100%;
	background-color: lightblue;
}

#main {
	background-color: lightgreen;
	height: 3550px;
	width: 100%;
}

#firstImage {
	max-width:100%;
	height:auto;
	position: relative;
	float: left;
}
#hiddenBoxTop {
	height: 5%; 
	width: 100%;
}

#sec1 {
	height: 400px; 
	width: 100%; 
	background-color: rgb(147,105,52);
	/*background-image: url('../images/ikb.jpg');
	background-size: cover;
  	background-repeat: no-repeat;
  	background-position: center 85%;*/
}

#sec2 {
	background-color: indigo;
	text-align:center;
	vertical-align:middle;  
	color: white;
}

#sec3 {
	background-color: black; 
	color: white;
}
#sec3 p {
  vertical-align: middle;
  text-align: center;
}

#sec4 {
	float: left;
	background-color: black;
}

#sec4 p {
  vertical-align: middle;
  text-align: center;  
	color: white;
}

#innerSec2a {
}

#innerSec2a ul {
	color: white;
}

#innerSec2b {

}

#innerSec2b ul {
	color: black;
}

#sec5 {
	float: left;
	background-color: white;
}

#sec5 p {
  vertical-align: middle;
  text-align: center;
}

#sec6 {
	background-color: gray;
}

#titleSec6 p {
  vertical-align: middle;
  text-align: center;
  text-decoration: underline;
}





#expertProfile1 {
  	background-color: orange;
  	float: left;
}

#profilePic1 {
	background-color: black;
}

#profileTitle1 {
	background-color: green;
}

#profileTitle1 p {
  	vertical-align: middle;
  	text-align: center;
  	color: white;
}

#profileMessage1 {
	background-color: blue;
}

#profileMessage1 p {

}

#qmark1 {
  	background-color: white;
}

#qmark2 {
  	background-color: white;
}





#expertProfile2 {
  	background-color: orange;
}

#profilePic2 {
	background-color: black;
}

#profileTitle2 {
	background-color: green;
}

#profileTitle2 p {
  	vertical-align: middle;
  	text-align: center;
  	color: white;
}

#profileMessage2 {
	background-color: blue;
}

#profileMessage2 p {

}





#expertProfile3 {
  	background-color: orange;
  	float: left;

}

#profilePic3 {
	background-color: black;
}

#profileTitle3 {
	background-color: green;
}

#profileTitle3 p {
  	vertical-align: middle;
  	text-align: center;
  	color: white;
}

#profileMessage3 {
	background-color: blue;
}

#profileMessage3 p {

}





#expertProfile4 {
  	background-color: orange;
  	float: left;
}

#profilePic4 {
	background-color: black;
}

#profileTitle4 {
	background-color: green;
}

#profileTitle4 p {
  	vertical-align: middle;
  	text-align: center;
  	color: white;
}

#profileMessage4 {
	background-color: blue;
}

#profileMessage4 p {

}





#sec7 {
	background-color: blue;
}

#titleSec7 {
    background-color: white;
}

#titleSec7 p {
  	vertical-align: middle;
  	text-align: center;
  	text-decoration: underline;
}

#customerProfile1 {
  	background-color: orange;
  	float: left;
}

#customerProfile2 {
  	background-color: orange;
  	float: left;
}

#customerProfile3 {
  	background-color: orange;
  	float: left;
}

#customerProfile4 {
  	background-color: orange;
  	float: left;
}

#profileTitle1b {
	background-color: green;
}

#profileTitle1b p {
  	vertical-align: middle;
  	text-align: center;
  	color: white;
}

#profileRating1 {
	background-color: red;
}

#profileMessage1b {
  	background-color: gray;
}



#sec8 {
  background-color: #A80000;  
}

#secondTitle {
	background-color: green;
}

#secondTitle p {
  	vertical-align: middle;
  	text-align: center;
  	color: white;
}

#lstBenefits {
	background-color: black;
}

#lstBenefits p {
  	vertical-align: middle;
  	text-align: center;
  	color: white;
}

#lstTitle {
	background-color: green;
}

#lstTitle p {
  	vertical-align: middle;
  	text-align: center;
  	color: white;
}

#sec9 {
  background-color: #9900FF;
}

#lastTitle {
	background-color: green;
}

#lastTitle p {
  	vertical-align: middle;
  	text-align: center;
  	color: white;
}

#lastSubTitle {
	background-color: green;
}

#lastSubTitle p {
  	vertical-align: middle;
  	text-align: center;
  	color: white;
}

#simpleForm {
	background-color: green;
}

#simpleButton {
	background-color: white;
}

footer {

}