#area1 p {
  font-size: 2.8em;
}
#area3 {
  margin-left: 11.5%;
}
#area4 {
  margin-left: 40.5%;
}
#area4 p {
  margin-left: 3.4%;
}

#foodPic1, #foodPic2, #foodPic3, #foodPic4, #foodPic5, #foodPic6 {
  width: 196px;
  height: 190px;
  margin-top: 3%;
  margin-left: 15%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  border: 5px solid black;
}
#foodPic7, #foodPic8, #foodPic9, #foodPic10, #foodPic11, #foodPic12 {
  width: 196px;
  height: 190px;
  margin-top: 3%;
  margin-left: 15%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  border: 5px solid black;
}




#bottomInfo {
  font-size: 1.3em;
}
#bottomInfo p {
  margin-left: 13px;
  margin-top: 16px;
  width: 43%;
}
#bottomInfo2 {
  font-size: 1.2em;
  margin-top: 13px;
  margin-right: -4px;
}

footer {
  height: 4%;
}