#company p {
  margin-left: 3%;
}
#company span {
  margin-left: 4%;
}
#area1 {
  width: 90%;
  margin-left: 5%;
}
#area1 p {
  font-size: 2em;
}
#area3 {
  margin-left: 0%;
  width: 90%;
  height: 57%;
}
#area4 {
  margin-left: 43.5%;
  width: 22%;
  margin-top: 65px;
}
#area4 p {
  margin-left: 2.5%;
  font-size: 3.5em;
}

#foodPic1, #foodPic2, #foodPic3, #foodPic4, #foodPic5, #foodPic6 {
  width: 196px;
  height: 190px;
  margin-top: 3%;
  margin-left: 15%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  border: 5px solid black;
}
#foodPic7, #foodPic8, #foodPic9, #foodPic10, #foodPic11, #foodPic12 {
  width: 196px;
  height: 190px;
  margin-top: 3%;
  margin-left: 15%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  border: 5px solid black;
}


#like1, #like2, #like3, #like4, #like5, #like6 {
  width: 77px;
  height: 75px;
  border-radius: 50%;
  margin-top: -30%;
  margin-left: 10%;
  background-color: rgb(217, 217, 217);
  border: 2px solid black;
}
#like7, #like8, #like9, #like10, #like11, #like12 {
  width: 77px;
  height: 75px;
  border-radius: 50%;
  margin-top: -30%;
  margin-left: 10%;
  background-color: rgb(217, 217, 217);
  border: 2px solid black;
}
#dislike1, #dislike2, #dislike3, #dislike4, #dislike5, #dislike6 {
  width: 77px;
  height: 75px;
  margin-top: -44.5%;
  margin-right: -36%;
  float: right;
  border-radius: 50%;
  background-color: rgb(217, 217, 217);
  border: 2px solid black;
}
#dislike7, #dislike8, #dislike9, #dislike10, #dislike11, #dislike12 {
  width: 77px;
  height: 75px;
  margin-top: -44.5%;
  margin-right: -36%;
  float: right;
  border-radius: 50%;
  background-color: rgb(217, 217, 217);
  border: 2px solid black;
}

#bottomInfo {
  font-size: .7em;
}
#bottomInfo p {
  margin-left: 13px;
  margin-top: 26px;
  width: 44%;
}
#bottomInfo2 {
  height: 61%;
  font-size: 1.2em;
  margin-top: 23px;
  margin-right: -24px;
}
#smIconsBottom {
  margin-left: 81%;
  margin-top: 10px;
}
footer {
  height: 4%;
}