#main {
  height: 892px;
}
#addedSec {
  height: 892px; 
}
#area3 {
  width: 35%;
  height: 274px;
  margin-top: 260px;
  margin-left: 34.5%;
}
#LargeNumber p {
  line-height: 270px;
}
#up {
  height: 136px;
  margin-top: 0px;
  margin-left: 0%;
}
#down {
  height: 136px;
  margin-top: 136px;
  margin-right: -20%;
}
#area4 {
  margin-top: 90px;
  margin-left: 40.5%;
  height: 9%;
}
#area4 p {
  margin-left: 5.2%;
  line-height: 20px;
}
#bottomInfo {
  font-size: 1.2em;
}
#bottomInfo p {
  color: white;
  margin-top: 16px;
  margin-left: 13px;
  width: 42%;
  position: absolute;
}
#bottomInfo2 {
  height: 73%;
  width: 46%;
  font-size: 1.2em;
  margin-top: 11px;
  margin-right: -4px;
}