#main {
  height: 944px;
}
#addedSec {
  height: 944px; 
}
#area3 {
  width: 35%;
  height: 318px;
  margin-top: 276px;
  margin-left: 32.5%;
}
#area4 {
  margin-top: 60px;
  margin-left: 39.5%;
  height: 8%;
}
#area4 p {
  margin-left: 6.5%;
  line-height: 14px;
}
#bottomInfo p {
  color: white;
  margin-top: 17px;
  margin-left: 198px;
  width: 31%;
  position: absolute;
}
#bottomInfo2 {
  height: 73%;
  width: 46%;
  font-size: 1.2em;
  margin-top: 12px;
  margin-right: 12px;
}