
#navBarRight #userArrow {
	margin-left: -5%;
}
.underNavSecInnerArea p {
  margin-top: -5.4%;
}
.photo {
	width: 25%;
	margin-left: 37.5%;
}
.titleIA p {
	margin-top: -8%;
	font-size: 1.1em;
}
.inputTA {

}

#bottomInfo {
	font-size: .9em;
}
#bottomInfo p {
	margin-left: 24px;
	margin-top: 16px;
}
#bottomInfo2 {
	margin-top: 15px;
	height: 62%;
}
#smIconsBottom {
  height: 4%;
  margin-top: 7px;
}
