
#navBarRight #userArrow {
	margin-left: -22%;
}
.underNavSecInnerArea p {
  margin-top: -4.1%;
}
.titleIA p {
	margin-top: -7%;
	font-size: 1.2em;
}
.inputTA {

}

#bottomInfo {
	font-size: 1.1em;
}
#smIconsBottom {
  height: 4%;
  margin-top: 2px;
}