#main {
	height: 684px;
}
.underNavSecInnerArea p {

}
#navBarRight #userArrow {
	margin-left: -25%;
}


.leftSec {
	height: 644px;
}
.rightSec {
	height: 644px;
}
.listI {

}


#bottomInfo {
	font-size: 1.2em;
}
#smIconsBottom {

}