#main {
	height: 816px;
}
.underNavSecInnerArea p {
	margin-top: -3.4%;
}


.leftSec {
	height: 774px;
}
.rightSec {
	height: 774px;
}
.listI {
	margin-top: 65.7%;
}



#smIconsBottom {
	height: 4%;
	margin-top: 4px;
}