#main {
	height: 966px;
}
.underNavSecInnerArea p {
  margin-top: -3.2%;
}


.row {
	height: 463px;
}
.browseItem {
	height: 300px;
	width: 300px;
}






#smIconsBottom {
	height: 4%;
	margin-top: 0px;
}