#main {
	height: 996px;
}
.underNavSecInnerArea p {
  margin-top: -2.8%;
}


.row {
	height: 478px;
}
.browseItem {
	height: 325px;
	width: 325px;
}






#smIconsBottom {
	height: 4%;
	margin-top: 0px;
}