#main {
	height: 938px;
}
#companyName p {
  font-size: 2em;
  margin-top: -2px;
  margin-left: 34%;
  font-weight: 900;
}
#navBarRight #settings {
	background-size: 20px;
}
#navBarRight #usersName {
	font-size: .8em;
}
#navBarRight #userArrow {
	margin-left: -5%;
}
.underNavSecInnerArea p {
  margin-top: -6.9%;
    font-size: 1.1em;
}

.row {
	height: 449px;
}
.row span {
	font-size: 1.4em;
	line-height: 63.5px;
}
.browseItem {
	height: 200px;
	width: 200px;
}
.browseItem#bi1 {
	margin-left: -62%;
	  margin-top: 120.5px;
}
.browseItem#bi2 {
	margin-left: -28.7%;
	  margin-top: 120.5px;
}
.browseItem#bi3 {
	margin-left: 5%;
	  margin-top: 120.5px;
}
.browseItem#bi4 {
	margin-left: 3%;
	  margin-top: 120.5px;
}
.browseItem#bi5 {
	margin-left: 36.3%;
	  margin-top: 120.5px;
}
.browseItem#bi6 {
	margin-left: 70%;
	  margin-top: 120.5px;
}






#bottomInfo {
	font-size: .6em;
}
#bottomInfo p {
	margin-left: 28px;
	margin-top: 16px;
}
#bottomInfo2 {
	margin-top: 15px;
	height: 62%;
}
#smIconsBottom {
  height: 4%;
  margin-top: 3px;
}
