html {
	height:100%;
	width:100%;
}
body  {
	height:100%;
	width:100%;
	margin: 0px;
}
header {
	height: 40px;
	width: 100%;
	background-color: #454545;
  color: white;
}










 
#companyName {
  height: 100%;
  width: 19%;
  margin-left: -4%;
  float: left;
  color: rgb(255, 154, 4);
}

#companyName p { 
  font-size: 2.2em;
  margin-top: -2px;
  margin-left: 39%;
  font-weight: 900;
}
#navBar {
  height: 100%;
  width: 80%;
  margin-left: 15%;
}
#navBar p {
  height: 100%;
  width: 16.8%;
  margin-left: 0%;
  margin-top: 0%;
  float: left;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
}
#navBar p:hover {
  background-color: #ffa800;
}

#navBarRight {
  height: 100%;
  width: 16%;
  float: left;
  margin-left: 0%;
  margin-top: 0%;
}
#navBarRight #settings {
  height: 99%;
  width: 25%;
  background-image: url(../../../images/settingsIcon.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px;
  margin-left: 0%;
  margin-top: 0%;
  float: left;
}
#navBarRight #settings:hover {
  background-color: #454545;
  background-image: url(../../../images/settingsIconBlue.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px;
}
#navBarRight #usersName {
  height: 99%;
  width: 65%;
  margin-left: 0%;
  margin-top: 0%;
  float: left;
  font-size: 1.1em;
  color: white;
  text-align: left;
  vertical-align: middle;
  line-height: 40px;
}
#navBarRight #usersName:hover {
  background-color: #454545;
  color: #23dbff;
}
#navBarRight #userArrow {
  height: 99%;
  width: 10%;
  background-image: url(../../../images/down.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px;
  margin-left: -28%;
  margin-top: 1%;
  float: left;
}
#navBarRight #userArrow:hover {
  background-color: rgba(69, 69, 69, 0.1);
  height: 97%;
}


#smIcons {
  height: 8%;
  width: 18%;
  margin-top: 0px;
  margin-left: 62%;
  position: absolute;
}
#facebook {
  background-image: url("../../../images/icon1.png");
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 0px;
  margin-left: 0px;
  height: 100%;
  width: 25%;
  float: left;
}
#facebook:hover {
  background-image: url("../../../images/icon1o.png");
  background-repeat: no-repeat;
  background-position: center;
}
#twitter {
  background-image: url("../../../images/icon2.png");
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 0px;
  margin-left: 0px;
  height: 100%;
  width: 25%;
  float: left;
}
#twitter:hover {
  background-image: url("../../../images/icon2o.png");
  background-repeat: no-repeat;
  background-position: center;
  
}
#google {
  background-image: url("../../../images/icon4.png");
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 0px;
  margin-left: 0px;
  height: 100%;
  width: 25%;
  float: left;
}
#google:hover {
  background-image: url("../../../images/icon4o.png");
  background-repeat: no-repeat;
  background-position: center;
}
#pintrest {
  background-image: url("../../../images/icon3.png");
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 0px;
  margin-left: 0px;
  height: 100%;
  width: 25%;
  float: left;
}
#pintrest:hover {
  background-image: url("../../../images/icon3o.png");
  background-repeat: no-repeat;
  background-position: center;
}

#main {
  background-color: #454545;
  height: 840px;
  width: 100%;
}
.underNavSec {
  height: 40px;
  width: 100%;
  top: 0%;
  margin-left: 0%;
  background-color: darkkhaki;
}
.underNavSecInnerArea {
  height: 100%;
  width: 30%;
  top: 0%;
  margin-left: 35%;
  background-color: crimson;
}
.underNavSecInnerArea p {
  height: 100%;
  width: 33.33%;
  margin-top: -3.8%;
  margin-left: 0%;
  float: left;
  background-color: black;
  color: white;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  font-size: 1.3em;
  font-weight: 900;
}
.underNavSecInnerArea p:hover {
  background-color: aqua;
  color: black;
}
.row {
  height: 400px;
  width: 100%;
  top: 0%;
  margin-left: 0%;
}
.row#r1 {
  background-color: black;
}
.row#r2 {
  background-color: white;
}
.browseItem {
  height: 275px;
  width: 275px;
  position: absolute;
  border-radius: 15px;
  }
.browseItem#bi1 {
  background-color: white;
  margin-left: -57%;
  margin-top: 62.5px;
  }
.browseItem#bi2 {
  background-color: white;
  margin-left: -24.7%;
  margin-top: 62.5px;
  }
.browseItem#bi3 {
  background-color: white;
  margin-left: 7%;
  margin-top: 62.5px;
  }
.browseItem#bi4 {
  background-color: black;
  margin-left: 8%;
  margin-top: 62.5px;
  }
.browseItem#bi5 {
  background-color: black;
  margin-left: 40.3%;
  margin-top: 62.5px;
  }
.browseItem#bi6 {
  background-color: black;
  margin-left: 72%;
  margin-top: 62.5px;
  }
.row span {
  height: 30%;
  width: 100%;
  margin-top: 34%;
  margin-left: 0%;
  float: left;
  background-color: burlywood;
  color: blueviolet;
  text-align: center;
  vertical-align: middle;
  line-height: 82.5px;
  font-size: 2em;
  font-weight: 900;
}














footer {
  height: 44px;
  width: 100%;
  background-color: rgb(34, 178, 253);
}
#bottomInfo {
  height: 100%;
  width: 80%;
  font-size: 1.3em;
  margin-top: 0px;
  margin-left: 0px;
}
#bottomInfo p {
  color: white;
  margin-top: 11px;
  margin-left: 37px;
  width: 41%;
  position: absolute;
}
#bottomInfo2 {
  height: 73%;
  width: 46%;
  font-size: 1.2em;
  margin-top: 10px;
  margin-right: 11px;
  float: right;
}

#bottomInfo2 a {
 color: white;
 margin-top: 0px;
 margin-left: 0px;
}

#bottomInfo2 a:hover {
 color: black;
}
#smIconsBottom {
  height: 4%;
  width: 18%;
  margin-top: 5px;
  margin-left: 78%;
  position: absolute;
}