#main {
	height: 653px;
}
#area1 {
	margin-top: -3%;
}
#area1 p {
	font-size: 4em;
	line-height: 55px;
	visibility: hidden;
}
#titleUnder1 {
	font-size: 2.7em;
}
#titleUnder2 {
	font-size: 1.7em;
}
#myForm {
  width: 70%;
  margin-left: 22%;
}
#area4 p {
	margin-left: 31%;
}
#bottomInfo {
	font-size: 1em;
}
#bottomInfo p {
  margin-top: 9px;
  margin-left: 26px;
  width: 49%;
}
#bottomInfo2 {
  margin-top: 6px;
  margin-right: -20px;
}
#smIconsBottom {
	margin-left: 80%;
}