#main {
	height: 870px;
}
#area1 {
	margin-top: 8%;
}
#area1 p {
	font-size: 4.5em;
	line-height: 45px;
	visibility: visible;
}
#bottomInfo {
	font-size: 1.2em;
}
#bottomInfo p {
  margin-top: 15px;
  margin-left: 17px;
  width: 43%;
}
#bottomInfo2 {
  margin-top: 11px;
  margin-right: -10px;
}
#smIconsBottom {
	margin-left: 80%;
}