html {
	height:100%;
	width:100%;
}
body  {
	height:100%;
	width:100%;
	margin: 0px;
}
header {
	height: 80px;
	width: 100%;
	background-color: white;
}










 
#company {
  height: 100%;
  width: 30%;
  margin-left: 37%;
  float: left;
  color: rgb(255, 154, 4);
}

#company p { 
  font-size: 3.5em;
  margin-top: -4px;
  margin-left: 23%;
  font-weight: 900;
}

#company span { 
  font-size: 1.2em;
  margin-top: -60px;
  margin-left: 8.5%;
  font-weight: 500;
  color: rgb(0, 153, 255);
  position: absolute;
}


#smIcons {
  height: 8%;
  width: 18%;
  margin-top: 0px;
  margin-left: 62%;
  position: absolute;
}
#facebook {
  background-image: url("../images/icon1.png");
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 0px;
  margin-left: 0px;
  height: 100%;
  width: 25%;
  float: left;
}
#facebook:hover {
  background-image: url("../images/icon1o.png");
  background-repeat: no-repeat;
  background-position: center;
  
}
#twitter {
  background-image: url("../images/icon2.png");
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 0px;
  margin-left: 0px;
  height: 100%;
  width: 25%;
  float: left;
}
#twitter:hover {
  background-image: url("../images/icon2o.png");
  background-repeat: no-repeat;
  background-position: center;
  
}
#google {
  background-image: url("../images/icon4.png");
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 0px;
  margin-left: 0px;
  height: 100%;
  width: 25%;
  float: left;
}
#google:hover {
  background-image: url("../images/icon4o.png");
  background-repeat: no-repeat;
  background-position: center;
}
#pintrest {
  background-image: url("../images/icon3.png");
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 0px;
  margin-left: 0px;
  height: 100%;
  width: 25%;
  float: left;
}
#pintrest:hover {
  background-image: url("../images/icon3o.png");
  background-repeat: no-repeat;
  background-position: center;
}
#LS {
  height: 100%;
  width: 14%;
  margin-right: 2%;
} 

#LS-1 {
  height: 60%;
  width: 8%;
  margin-top: 12px;
  margin-right: 1%;
  font-weight: 900;
  border-radius: 5%;
  float: right;
  color:  black;
  vertical-align: middle;
  text-align: center;  
} 

#LS-1 p {
  line-height: 0px; 
  font-size: 1.7em;
  margin-top: 19px;
} 
#LS-2 {
  height: 60%;
  width: 8%;
  margin-top: 12px;
  margin-right: 1%;
  font-weight: 900;
  border-radius: 5%;
  float: right;
  color:  black;
  vertical-align: middle;
  text-align: center;
} 

#LS-2 p {
  line-height: 0px; 
  font-size: 1.7em;
  margin-top: 19px;
} 

#LS-1:hover, #LS-2:hover {
  color: rgb(255, 153, 0);
 
}

#main {
  background-image: url(../images/foodBG.png);
  background-repeat: repeat;
  height: 680px;
  width: 100%;
}
#hiddenBoxTop {
  height: 5%; 
  width: 100%;
}
#addedSec {
  height: 680px; 
  width: 100%; 
  margin-top: 0px;
  background-color: rgba(255, 154, 4, 0.35);
}



#area1 {
  width: 60%;
  height: 15%;
  margin-top: 0%;
  margin-left: 20%;
  text-align: center;
}
#area1 p {
  font-size: 3em;
  font-weight: 900;
  color: black;
  margin-top: 0px;
  height: 100%;
  line-height: 110px;
}





#area2 {
  width: 60%;
  height: 31%;
  float: left;
  margin-top: 0px;
  margin-left: 20%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  
}
#titleUnder1 {
font-size: 2.5em; 
font-weight: 900; 
line-height: 145px;
color: black;
margin-top: 0px;
height: 50%;
  text-align: center;
}
#titleUnder2 {
font-size: 1.5em; 
font-weight: 900; 
line-height: 45px; 
margin-top: 0px;
color: black;
height: 50%;
  text-align: center;
}




#area3 {
  width: 60%;
  height: 58%;
  margin-top: 180px;
  margin-left: 20%;
}

#area3 p{
  width: 100%;
  height: 21%;
  margin-top: 0%;
  display: inline-block;
}
form {
  height: 100%;
  width: 100%;
}
input {
  margin-top: 32px;
  margin-left: 0px;
  width: 350px;
  height: 35px;
  font-size: 24px;
}
#cb {
  margin-left: -150px;
  height: 30px;
}
#creatAcc {
  color: white;
  margin-top: 20px;
  margin-left: 0px;
  width: 350px;
  height: 60px;
  font-size: 2em;
  border-radius: 10px;
  font-weight: 700;
  background-color: rgb(34, 178, 253);
}
#creatAcc:hover {
  background-color: rgb(255, 154, 4);
}
#area3 span {
  font-size: 1.8em;
  margin-top: 0px;
  position: absolute;

}
#area3 a {
  margin-left: -138px;
  margin-top: 35px;
  position: absolute;
  font-size: 1.5em;
  text-decoration: none;
  color: black;
}
#myForm {
  width: 70%;
  margin-left: 31%;
}







#area4 {
  width: 60%;
  height: 10%;
  margin-top: -80px;
  margin-left: 20%;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
#area4 p {
  color: black;
  font-size: 1.5em;
  margin-left: 37%;
  float: left;
  height: 0%;
  line-height: 0px;

}
#area4 a {
  color: rgb(255, 154, 4);
  font-size: 1.6em;
  margin-left: 7px;
  height: 100%;
  line-height: 46px;
}






footer {
  height: 5%;
  width: 100%;
  background-color: rgb(34, 178, 253);
}
#bottomInfo {
  height: 100%;
  width: 80%;
  font-size: 1.3em;
  margin-top: 0px;
  margin-left: 0px;
}
#bottomInfo p {
  color: white;
  margin-top: 11px;
  margin-left: 37px;
  width: 41%;
  position: absolute;
}
#bottomInfo2 {
  height: 73%;
  width: 46%;
  font-size: 1.2em;
  margin-top: 5px;
  margin-right: 11px;
  float: right;
}

#bottomInfo2 a {
 color: white;
 margin-top: 0px;
 margin-left: 0px;
}

#bottomInfo2 a:hover {
 color: black;
}
#smIconsBottom {
  height: 5%;
  width: 18%;
  margin-top: 0px;
  margin-left: 78%;
  position: absolute;
}