#company {
  margin-left: 34%;
}
#area1 p {
  font-size: 2.5em;
}

#upperRow {
  margin-left: -52px;
}
#bottomRow {
  margin-left: -52px;
}
#upperRow2 {
  margin-left: -52px;
}


#foodPic1, #foodPic2, #foodPic3, #foodPic4, #foodPic5,
 #foodPic6, #foodPic7, #foodPic8, #foodPic9 {
  width: 170px;
  height: 170px;
  margin-top: 24%;
  margin-left: 7%;
  background-color: white;
  border: 5px solid black;
  border-radius: 20px;
}

#up1, #up2, #up3, #up4, #up5, #up6, #up7, #up8, #up9 {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  margin-top: -172px;
  margin-left: 194px;
  background-color: rgb(34, 178, 253);
  background-image: url(../../images/upB.png);
  background-position: -5px -14px;
  background-size: 85px;
  background-repeat: no-repeat;
  border: 2px solid black;
}

#down1, #down2, #down3, #down4, #down5, #down6, #down7, #down8, #down9 {
  width: 72px;
  height: 72px;
  margin-top: 6px;
  margin-left: 194px;
  border-radius: 50%;
  position: absolute;
  background-color: rgb(34, 178, 253);
  background-image: url(../../images/downB.png);
  background-position: -5px -5px;
  background-size: 85px;
  background-repeat: no-repeat;
  border: 2px solid black;
}

#titleBR1 {
  font-size: 2.5em;
  line-height: 45px;
}
#topBR2 {
  font-size: 2.5em;
  line-height: 45px;
}

#area4 {
  width: 23%;
}
#area4 p {
  font-size: 3.5em;
}

#bottomInfo {
  font-size: .9em;
}
#bottomInfo p {
  width: 41%;
}