#company {
  margin-left: 31%;
}
#area1 {
  width: 80%;
  margin-left: 10%;
}
#area1 p {
  font-size: 2.5em;
}

#upperRow {
  margin-left: -52px;
}
#bottomRow {
  margin-left: -52px;
}
#upperRow2 {
  margin-left: -52px;
}

#foodTitle1, #foodTitle2, #foodTitle3, #foodTitle4, #foodTitle5, #foodTitle6, 
#foodTitle7, #foodTitle8, #foodTitle9 {
  position: absolute;
  margin-left: 0%;
  font-size: 2.3em;
}

#foodPic1, #foodPic2, #foodPic3, #foodPic4, #foodPic5,
 #foodPic6, #foodPic7, #foodPic8, #foodPic9 {
  width: 135px;
  height: 135px;
  margin-top: 30%;
  margin-left: 27%;
  background-color: white;
  border: 5px solid black;
  border-radius: 20px;
}

#up1, #up2, #up3, #up4, #up5, #up6, #up7, #up8, #up9 {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  margin-top: -134px;
  margin-left: 183px;
  background-color: rgb(34, 178, 253);
  background-image: url(../../images/upB.png);
  background-position: -7px -11px;
  background-size: 69px;
  background-repeat: no-repeat;
  border: 2px solid black;
}

#down1, #down2, #down3, #down4, #down5, #down6, #down7, #down8, #down9 {
  width: 54px;
  height: 54px;
  margin-top: 6px;
  margin-left: 183px;
  border-radius: 50%;
  position: absolute;
  background-color: rgb(34, 178, 253);
  background-image: url(../../images/downB.png);
  background-position: -7px -5px;
  background-size: 69px;
  background-repeat: no-repeat;
  border: 2px solid black;
}

#titleBR1 {
  font-size: 2.5em;
  line-height: 45px;
}
#topBR2 {
  font-size: 2.5em;
  line-height: 45px;
}

#area4 {
  width: 23%;
}
#area4 p {
  font-size: 3.2em;
  margin-left: 2.6%;
  margin-top: 41px;
}

#bottomInfo {
  font-size: .6em;
}
#bottomInfo p {
  width: 41%;
  margin-top: 21px;
}
#bottomInfo2 {
  margin-top: 19px;
}

#selection1a, #selection2a, #selection3a {
  height: 10%;
}
#selection1b, #selection2b, #selection3b {
  height: 10%;
}
#selection1c, #selection2c, #selection3c {
  height: 10%;
}