.rowSection {
  width: 69.7%; 
  margin-left: 14.6%;
}
.photoPerson {
  margin-top: -53%;
  margin-left: 140%;
}
#pickFIle {
	margin-left: 108%;
}
.findSecHolder {
	margin-top: 2.5%;
}
.searchBarArea {
	margin-left: 4.3%;
}


#bottomInfo p {
  margin-left: 105px;
  width: 35%;
}



#smIconsBottom {
  height: 4%;
  margin-top: 0px;
}