html {
  height:100%;
  width:100%;
}
body  {
  height:100%;
  width:100%;
  margin: 0px;
}
header {
  height: 40px;
  width: 100%;
  background-color: #454545;
  color: white;
}










 
#companyName {
  height: 100%;
  width: 19%;
  margin-left: -4%;
  float: left;
  color: rgb(255, 154, 4);
}

#companyName p { 
  font-size: 2.2em;
  margin-top: -2px;
  margin-left: 39%;
  font-weight: 900;
}
#navBar {
  height: 100%;
  width: 80%;
  margin-left: 15%;
}
#navBar p {
  height: 100%;
  width: 16.8%;
  margin-left: 0%;
  margin-top: 0%;
  float: left;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
}
#navBar p:hover {
  background-color: #ffa800;
}

#navBarRight {
  height: 100%;
  width: 16%;
  float: left;
  margin-left: 0%;
  margin-top: 0%;
}
#navBarRight #settings {
  height: 99%;
  width: 25%;
  background-image: url(../../images/settingsIcon.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px;
  margin-left: 0%;
  margin-top: 0%;
  float: left;
}
#navBarRight #settings:hover {
  background-color: #454545;
  background-image: url(../../images/settingsIconBlue.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px;
}
#navBarRight #usersName {
  height: 99%;
  width: 65%;
  margin-left: 0%;
  margin-top: 0%;
  float: left;
  font-size: 1.1em;
  color: white;
  text-align: left;
  vertical-align: middle;
  line-height: 40px;
}
#navBarRight #usersName:hover {
  background-color: #454545;
  color: #23dbff;
}
#navBarRight #userArrow {
  height: 99%;
  width: 10%;
  background-image: url(../../images/down.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px;
  margin-left: -28%;
  margin-top: 1%;
  float: left;
}
#navBarRight #userArrow:hover {
  background-color: rgba(69, 69, 69, 0.1);
  height: 97%;
}


#smIcons {
  height: 8%;
  width: 18%;
  margin-top: 0px;
  margin-left: 62%;
  position: absolute;
}
#facebook {
  background-image: url("../../images/icon1.png");
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 0px;
  margin-left: 0px;
  height: 100%;
  width: 25%;
  float: left;
}
#facebook:hover {
  background-image: url("../../images/icon1o.png");
  background-repeat: no-repeat;
  background-position: center;
}
#twitter {
  background-image: url("../../images/icon2.png");
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 0px;
  margin-left: 0px;
  height: 100%;
  width: 25%;
  float: left;
}
#twitter:hover {
  background-image: url("../../images/icon2o.png");
  background-repeat: no-repeat;
  background-position: center;
  
}
#google {
  background-image: url("../../images/icon4.png");
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 0px;
  margin-left: 0px;
  height: 100%;
  width: 25%;
  float: left;
}
#google:hover {
  background-image: url("../../images/icon4o.png");
  background-repeat: no-repeat;
  background-position: center;
}
#pintrest {
  background-image: url("../../images/icon3.png");
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 0px;
  margin-left: 0px;
  height: 100%;
  width: 25%;
  float: left;
}
#pintrest:hover {
  background-image: url("../../images/icon3o.png");
  background-repeat: no-repeat;
  background-position: center;
}

#main {
  background-color: #454545;
  height: 1200px;
  width: 100%;
}
#hiddenBoxTop {
  height: 5%; 
  width: 100%;
}
.contentHolder {
  height: 1200px; 
  width: 100%; 
  margin-top: 0px;
}











.topHolderSec {
  height: 300px; 
  width: 100%; 
  margin-top: 0px;
  margin-left: 0px;
  background-color: rgba(0,0,255,0.5);
}
.topHolderSecInner {
  height: 300px; 
  width: 100%; 
  margin-top: -8px;
  margin-left: 0px;
  float: left;
}
.topHolderSecInner#one {
  width: 33.3333%;
  background-color: orange;
}
.topTitle {
  height: 45px;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  line-height: 45px;
  font-size: 1.8em;
  color: black;
  font-weight: 900;
  margin-top: 5%;
  
}
.imageHolder {
  height: 200px;
  width: 65%;
  background-color: white;
  margin-top: 2%;
  margin-left: 17.25%;
}
.createDecide {
  height: 62px;
  width: 100%;
  background-color: black;
  margin-top: 0%;
  margin-left: 0%;
}
.createDecide p {
  height: 30px;
  width: 100%;
  background-color: indigo;
  margin-top: 0%;
  margin-left: 0%;
  margin-bottom: 2px;
}
.name {
  height: 100%;
  width: 50%;
  background-color: yellow;
  float: left;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
  font-size: 1.2em;
  font-weight: 900;
  margin-left: 25%;
}
.smallAddBtn {
  height: 100%;
  width: 10%;
  background-color: cyan;
  float: left;
  border-radius: 50%;
  margin-top: 0%;
  margin-left: 0%;
}
.smlBtn {
  height: 20%;
  width: 25%;
  background-color: blue;

}
.createArea {
  height: 105px;
  width: 100%;
  background-color: gray;
  margin-top: 0%;
  margin-left: 0%;
}
.createGroupSec {
  height: 51px;
  width: 184px;
  background-color: black;
  margin-top: 2%;
  margin-left: 4.4%;
  position: absolute;
  visibility: hidden;
}
.inputTitleGroup {
  height: 20px;
  width: 100%;
  background-color: orange;
  font-size: 1.2em;
  font-weight: 900;
  margin-top: 0%;
  margin-left: 0%;
  margin-bottom: 0%;
}
#gName {
  height: 25px;
  width: 98%;
  margin-top: 0%;
  margin-left: 0%;
  font-size: 1em;
}
.createPersonSec {
  height: 38px;
  width: 184px;
  background-color: black;
  margin-top: 1%;
  margin-left: 0%;
  position: absolute;
  visibility: visible;
}
.inputTitlePerson {
  height: 15px;
  width: 100%;
  background-color: orange;
  font-size: 1em;
  font-weight: 900;
  margin-top: 0%;
  margin-left: 0%;
  margin-bottom: 0%;
}
#pName {
  height: 17px;
  width: 98%;
  margin-top: 0%;
  margin-left: 0%;
  font-size: 1em;
}
.inputTitlePerson#two {
  margin-top: 5%;
  margin-left: 0%;
  width: 70%;
}
#pMenu {
  height: 22px;
  width: 70%;
  margin-top: 0%;
  margin-left: 0%;
  font-size: 1em;
}
.photoPerson {
  height: 75px;
  width: 75px;
  background-color: black;
  margin-top: -50%;
  margin-left: 112%;
  margin-bottom: 0%;
  border-radius: 50%;
}
#pickFIle {
  height: 22px;
  width: 115%;
  margin-top: 2%;
  margin-left: 87%;
  font-size: .7em;
}
.createBtn {
  height: 33px;
  width: 100%;
  background-color: red;
  margin-top: 0%;
  margin-left: 0%;
  margin-bottom: 0%;
}
.createBtn p {
  height: 30px;
  width: 80px;
  border-radius: 5px;
  background-color: blue;
  margin-left: 7%;
  margin-top: 8px;
  position: absolute;
  color: white;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
  font-size: 1.3em;
  }
.topHolderSecInner#two {
  width: 33.3333%;
  background-color: gray;
}
.nfHolder {
  height: 200px;
  width: 65%;
  background-color: white;
  margin-top: 2%;
  margin-left: 17.25%;
}
.nfHolder ul {
  height: 100%;
  width: 60%;
  margin-top: 0%;
  margin-bottom: 0%;
  margin-left: 7%;
}
.nfHolder li {
  height: 15%;
  width: 100%;
  background-color: aqua;
  margin-top: 3%;
  margin-bottom: 0%;
  margin-left: 0%;
  list-style: none;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
  font-size: 1.2em;
}
.topHolderSecInner#three {
  width: 33.3333%;
  background-color: yellow;
}
.topTitle#three {
  height: 45px;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  line-height: 45px;
  font-size: 1.8em;
  color: black;
  font-weight: 900;
  margin-top: 5%;
  
}
.smHolder {
  height: 200px;
  width: 65%;
  background-color: white;
  margin-top: 2%;
  margin-left: 17.25%;
}
.searchBarArea {
  height: 30px;
  width: 200px;
  text-align: center;
  vertical-align: middle;
  line-height: 45px;
  font-size: 1.8em;
  background-color: black;
  font-weight: 900;
  margin-top: 0%;
  margin-bottom: 0%;
  margin-left: 3.7%;
  position: absolute;
}
.findSecHolder {
  height: 100px;
  width: 200px;
  margin-top: 4.5%;
  margin-bottom: 0%;
  margin-left: 6.7%;
  position: absolute;
}
.findSec {
  height: 25px;
  width: 100%;
  background-color: white;
  margin-top: 2%;
  margin-left: 0%;
  margin-bottom: 0%;
}
.findSec p {
  margin-top: -10%;
  margin-left: 13%;
  margin-bottom: 0%;
}








.bottomSec {
  height: 900px; 
  width: 100%; 
  margin-top: 0px;
  margin-left: 0px;
  background-color: rgba(0,0,255,0.5);
}
.bottomTitle {
  height: 45px;
  width: 80%;
  text-align: center;
  vertical-align: middle;
  line-height: 45px;
  font-size: 3em;
  color: white;
  font-weight: 900;
  margin-top: 2%;
  margin-left: 10%;
  position: absolute;
}
.rowSection {
  height: 680px; 
  width: 80%; 
  margin-top: 7%;
  margin-left: 10%;
  background-color: aqua;
  position: absolute;
}
.userRow {
  height: 170px; 
  width: 100%; 
  margin-top: 0%;
  margin-left: 0%;
  background-color: rgba(0,255,0,0.5);
}
.userRow#r2 {
  background-color: rgba(255, 0,0,0.5);
}
.userRow#r4 {
  background-color: rgba(255,0,0,0.5);
}
.userSelect {
  height: 100%; 
  width: 20%; 
  margin-top: 0%;
  margin-left: 0%;
  background-color: rgba(255,255,255,0.5);
  float: left;
}
.userSelect#u2 {
  background-color: rgba(255, 0,0,0.5);
}
.userSelect#u4 {
  background-color: rgba(255,0,0,0.5);
}
.userPic {
  height: 75%;
  width: 55%;
  margin-top: 3%;
  margin-left: 22.5%;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
}
.userName {
  height: 17%;
  width: 80%;
  margin-top: 3%;
  margin-left: 10%;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  vertical-align: middle;
  font-size: 1.2em;
  font-weight: 700;
  line-height: 28px;
  color: white;
}
#nextPage {
  height: 35px;
  width: 100px;
  background-color: red;
  color: white;
  float: right;
  margin-right: 5%;
  margin-top: 820px;
  font-weight: 900;
  font-size: 1.3em;
  text-align: center;
  border-radius: 5px;
  vertical-align: middle;
  line-height: 30px;
}






















footer {
  height: 44px;
  width: 100%;
  background-color: rgb(34, 178, 253);
}
#bottomInfo {
  height: 100%;
  width: 80%;
  font-size: 1.3em;
  margin-top: 0px;
  margin-left: 0px;
}
#bottomInfo p {
  color: white;
  margin-top: 11px;
  margin-left: 37px;
  width: 41%;
  position: absolute;
}
#bottomInfo2 {
  height: 73%;
  width: 46%;
  font-size: 1.2em;
  margin-top: 10px;
  margin-right: 11px;
  float: right;
}

#bottomInfo2 a {
 color: white;
 margin-top: 0px;
 margin-left: 0px;
}

#bottomInfo2 a:hover {
 color: black;
}
#smIconsBottom {
  height: 5%;
  width: 18%;
  margin-top: 2px;
  margin-left: 78%;
  position: absolute;
}