#main {
	height: 893px;
}
#addedSec {
  height: 893px;
}
#area1 p {
	font-size: 5em;
	line-height: 140px;
}
#creatAcc {
	margin-top: -17px;
	margin-left: -13px;
}
#myForm {
  width: 70%;
  margin-left: 29%;
}
#cb {
  margin-left: 0px;
  height: 30px;
  margin-top: 12px;
}
#area3 a {
  margin-top: 15px;
}
#area4 p {
	margin-left: 34%;
}
#bottomInfo {
  font-size: 1.1em;
}
#bottomInfo p {
	margin-top: 18px;
	margin-left: 17px;
	width: 38%;
}
#bottomInfo2 {
  font-size: 1.3em;
  margin-top: 14px;
  margin-right: 21px;
  }